@import './variables.scss';

/* ==== Basic styles ==== */

/* Auto fill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill::first-line,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: $dm-fonts !important;
  -webkit-text-fill-color: $primary-font-color;
  transition: background-color 5000s ease-in-out 0s;
}

/* reset default style */
/* stylelint-disable-next-line */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $primary-font-color;
  font-family: $dm-fonts;
  font-size: 14px;
  min-width: 1280px;
  width: 100%;
}
